autogen-agentchat==0.4.9
autogen-ext[openai,azure]==0.4.9
autogen-ext[web-surfer]==0.4.9
autogen-ext[magnetic-one]==0.4.9
psycopg[binary]
python-dotenv
streamlit
autogen-ext[video-surfer]==0.4.9
yt-dlp
azure-identity
fastapi
uvicorn