autogen-agentchat==0.6.4
autogen-ext[openai,azure]==0.6.4
autogen-ext[web-surfer]==0.6.4
autogen-ext[magnetic-one]==0.6.4
psycopg[binary]
python-dotenv
streamlit
autogen-ext[video-surfer]==0.6.4
yt-dlp
azure-identity
fastapi
uvicorn
azure-cosmos
azure-storage-blob